<app-navbar></app-navbar>
<div class="m-5">
  <h1><small>Datos del usuario</small></h1>
  <hr />
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button routerLink="/usuarios" class="btn btn-danger float-right">
      <i class="fa fa-arrow-left"></i>Regresar
    </button>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
     <form (ngSubmit)="guardar(usuarioForm)" #usuarioForm="ngForm">
        <div class="form-firebase">
          <label>Firebase ID</label>
          <input
            type="text"
            class="form-control"
            placeholder="Firebase ID"
            [(ngModel)]="usuario.id"
            name="id"
            disabled="disabled"
          />
          <small class="form-text text-muted">Este campo es autogenerado</small>
        </div>

        <div class="form-firebase">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            [(ngModel)]="usuario.name"
            name="name"
            required
          />
        </div>

        <div class="form-firebase">
          <label>Apellidos</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            [(ngModel)]="usuario.surname"
            name="surname"
            required
          />
        </div>

        <div class="form-firebase">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Email del usuario"
            [(ngModel)]="usuario.email"
            name="email"
          />
        </div>
        <hr />

        <div class="d-grid gap-2 text-center">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
